<!DOCTYPE html>


<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Aimidge</title>

	<script async src="https://www.googletagmanager.com/gtag/js?id=G-P2JB31PSM7"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-P2JB31PSM7');
	</script>

	<script>
		document.addEventListener("DOMContentLoaded", async function () {
			try {
				var selectedLanguage = localStorage.getItem('selectedLanguage');
            	if (selectedLanguage) {
					var links = document.querySelectorAll('a');
					links.forEach(function(link) {
                    	var href = link.getAttribute('href');
                    	if (href) {
                        	var separator = href.indexOf('?') === -1 ? '?' : '&';
                        	link.setAttribute('href', href + separator + 'culture=' + selectedLanguage);
                    	}
                	});
				}

				const existingCookie = await fetch('?handler=GetCookie', {
					method: 'GET'
				});
			} catch (error) {
				alert("Internal server error occurred: " + error.message);
			}
		});
	</script>
</head>

<body>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>