#generatedPicturesContainer {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 1000px;
    height: 600px;
    scrollbar-color: rgb(72, 93, 109) rgba(0, 0, 0, 0);
}
.title{
    align-items: center;
}

#generatedPicturesContainer {
    position: relative;
}

#generatedPicturesContainer img {
    margin: 20px auto;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}




