body {
  background-image: radial-gradient(circle, #7FC7D9 10%, #365486 100%);
  overflow: hidden;
}
.area {
    max-width: 20vw;
    max-height: 20vh;
    font-size: 1vw;
}
.selector {
    height: 3vh;
    width: 6vw;
    font-size: 1vw;
}
.try-it {
    padding-bottom: 3vh;
    padding-top: 5vh;
    color: #0F1035;
    font-size: 2.5vw;
}
.buttons {
    outline: none;
    color: #f2f2f2;
    font-size: 1.2vw;
    font-weight: 500;
    border-radius: 12px;
    padding: 0.5vh 1vw;
    border: none;
    margin: 0 1vw;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: #365486;
}
.buttons input:hover{
    transform: scale(0.97);
    color: #0F1035;
}
.model-card {
    backdrop-filter: blur(24px);
    margin: auto;
    width: 71vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 25px;
}
.model-card-container {
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: center;
    padding: 1.5vw;
}
.model-card-col {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 80vh;
    justify-content: center;
    border: solid rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.model-input-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 6vh;
}
#prompt{
    width: 20vw;
    height: 6vh;
}
.outline-try-it{
    display: flex;
    flex-direction: row;
}
.edit-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.image-models-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
  
a {
    color: #0077cc;
}
  
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
  
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
  
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25vw .75vw rgba(0, 0, 0, .05);
}
  
button.accept-policy {
    font-size: 1vw;
    line-height: inherit;
}
  
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 30px;
    text-align: right;
    border-top: 0.5px solid rgba(255, 255, 255, 0.25);
    left: 0;
    padding-right: 10px;
}
.footer a{
    text-decoration: none;
    color: #7FC7D9;
}

button{
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.a-remover{
    text-decoration: none;
    color: inherit;
}

.a-remover:hover{
    text-decoration: none;
    color:inherit;
}