body {
    background-image: radial-gradient(circle, #7FC7D9 10%, #365486 100%);
    overflow: hidden;
  }
.try-it {
    margin-left: 100px;
    padding-bottom: 3vh;
    padding-top: 5vh;
    color: #0F1035;
    font-size: 2.5vw;
    align-content: center;
    justify-content: center;
}
.model-card {
    backdrop-filter: blur(24px);
    margin: auto;
    width: 71vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 25px;
}
.form-group{
    font-size: 20px !important;
    color: #0F1035 !important;
    font-weight: bold;
}
.btn .btn-primary{
    background:#0F1035 !important;
}
.profile-picture {
    width: 100px;
    height: 110px;
    border-radius: 5px;
    font-size: 14px;
    overflow-y: auto;
    scrollbar-color: rgb(72, 93, 109) rgba(0, 0, 0, 0);
  }
.avatars{
    justify-content: center;
    align-items: center;
}
.avatars img{
    justify-content: center;
    align-items: center;
}
.buttons {
    outline: none;
    color: #f2f2f2;
    font-size: 1.2vw;
    font-weight: 500;
    border-radius: 12px;
    padding: 0.5vh 1vw;
    border: none;
    margin: 0;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: #365486;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}