@page
@model Aimidge.Pages.AboutOutsideModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/empty.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<body>
    </br>
    <p>Site authors:</p>
    <ul>
        <li>Tomas Petrauskas</li>
        <li>Domas Gladkauskas</li>
        <li>Aurelija Vaitkutė</li>
        <li>Tomas Kundrotas</li>
    </ul>
</body>
