@page
@model Aimidge.Pages.AboutOutsideModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = @localizer["about"];
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<body>
    </br>
    <p>@localizer["siteAuthors"]</p>
    <ul>
        <li>Tomas Petrauskas</li>
        <li>Domas Gladkauskas</li>
        <li>Aurelija Vaitkutė</li>
        <li>Tomas Kundrotas</li>
    </ul>
</body>
