@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Aimidge.Pages.AlbumModel
@{
    ViewData["Title"] = "Album";
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/generator.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/history-loading.css" asp-append-version="true">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true">
</head>

<body>
    <footer class="footer">
        <div>
            &copy; 2024 - Aimidge - <a asp-area="" asp-page="/AboutInside">About</a>
        </div>
    </footer>
    <div class="sidebar">
        <div class="logo-details">
            <img src="~/Logo1white.png" alt="Description of the image" width="50" height="50">
            <div class="logo_name">AIMIDGE</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a asp-area="" asp-page="/Generator">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">@localizer["Generator"]</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-page="/Album">
                    <i class='bx bx-heart'></i>
                    <span class="links_name">Saved</span>
                </a>
            </li>
            <li class="profile">
                <div class="profile-details">
                    <i class='bx bxs-user-circle'></i>
                    <div class="name_job">
                        <div class="name">
                            <a asp-area="" asp-page="/UserProfile" class="name">Vardenis</a>
                        </div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </li>
        </ul>
    </div>
    <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");
        closeBtn.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            menuBtnChange();
        });
        searchBtn.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            menuBtnChange();
        });
        function menuBtnChange() {
            if (sidebar.classList.contains("open")) {
                closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else {
                closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
            }
        }
    </script>
    <script>
        function redirectToUserProfile() {
            window.location.href = "/UserProfile";
        }
    </script>
    <script>
        function redirectToAbout() {
            window.location.href = "/AboutInside";
        }
    </script>
    <script>
        function redirectToHome() {
            window.location.href = "/Generator";
        }
    </script>
    <section class="home-section">
        <div class="try-it">
            <div class="model-card">
                <div class="model-card-container">
                    <div class="model-card-col">
                        <div id="generatedPicturesContainer"></div>
                    </div>
                </div>
            </div>
            <script>
                document.getElementById("generator").addEventListener("click", function () {
                    getLanguage("Generator");
                });

                document.getElementById("about").addEventListener("click", function () {
                    getLanguage("AboutInside");
                });

                function getLanguage(value) {
                    var selectedLanguage = localStorage.getItem('selectedLanguage');
                    if (selectedLanguage) {
                        window.location.href = 'http://localhost:5007/' + value + "?culture=" + selectedLanguage;
                    }
                }
            </script>
        </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>