@page
@model Aimidge.Pages.IndexModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
	ViewData["Title"] = "Home page";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/css/homepage.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<body>
	<header>
		<nav class="navbar">
			<div class="logo"><a href="#">[LOGO]</a></div>
			<ul class="menu">
				<select id="languageDropdown">
        			<option value="en">English</option>
        			<option value="lt">Lietuvių</option>
    			</select>
				<li><a asp-area="" asp-page="/Homepage">@localizer["home"]</a></li>
				<li><a asp-area="" asp-page="/AboutOutside">@localizer["about"]</a></li>
				<li><a asp-area="" asp-page="/Generator" class="guest">@localizer["generator"]</a></li>
			</ul>
		</nav>
		<div class="text-content">
			<h2>Welcome to<br>
				<div class="aimidge">AIMIDGE</div>
			</h2>
			<p>"Unleash Your Imagination: Let AI Bring Your Ideas to Life with Unique Images!"</p>
		</div>
		<br>
		<div class="buttons">
			<a asp-area="" asp-page="/Login">
				<input type="button" value=@localizer["login"]>
			</a>
			<a asp-area="" asp-page="/Login">
				<input type="button" value=@localizer["register"]>
			</a>
		</div>
		<script>
		function switchLanguage() {
            var selectedLanguage = document.getElementById("languageDropdown").value;
            localStorage.setItem('selectedLanguage', selectedLanguage);
			window.location.href = 'http://localhost:5007/' + "?culture=" + selectedLanguage;
        }
		var selectedLanguage = localStorage.getItem('selectedLanguage');
    		if (selectedLanguage) {
        		document.getElementById("languageDropdown").value = selectedLanguage;
				if (!window.location.search.includes('culture=')) {
            		window.location.href = 'http://localhost:5007/' + "?culture=" + selectedLanguage;
        		}
    		}
        document.getElementById("languageDropdown").addEventListener("change", switchLanguage);
		</script>
	</header>
</body>
