@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

</br>
<p>Site authors:</p>
<ul>
    <li>Tomas Petrauskas</li>
    <li>Domas Gladkauskas</li>
    <li>Aurelija Vaitkutė</li>
    <li>Tomas Kundrotas</li>
</ul>
